body {
    max-width: 1140px;
    user-select: none; /* Metnin seçilmesini engeller */
}

.world-map {

  margin: 0 auto;
  text-align: center;

}

#map g path {
    stroke: #382222;
}

path {
    stroke-width: 1px;
    transition: fill 0.5s ease;
}

.world-map svg {
  width: 100%;
  height: auto;
}

.il-isimleri {
  position: absolute;
  z-index: 2;
}

.il-isimleri div {
    font-family: 'Open Sans', serif;
    display: inline-block;
    background: #1094F6;
    color: #fff;
    font-size: 10px;
    padding: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}

text {

    pointer-events: none; /* Tıklama olaylarını devre dışı bırakır */

    background-color: black;

}

rect {
    user-select: none; /* Metnin seçilmesini engeller */
    pointer-events: none; /* Tıklama olaylarını devre dışı bırakır */
}

.arrowPath {
    user-select: none; /* Metnin seçilmesini engeller */
    pointer-events: none; /* Tıklama olaylarını devre dışı bırakır */
}




body {
    background-color: #37393a;

}



.online-box {
    display: block;
    width: 70px;
    top: 10px;
    right: 1px;
    float: right;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Diğer tüm içeriklerin üzerinde görünmesi için yüksek bir z-index değeri */
}






#slider {
    width: 400px;
    height: 30px;
    background: lightgrey;
    position: relative;

}

#ball {
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%; /* Yuvarlak yapmak için */
    position: absolute;
    top: 0px; /* Çizgiye hizalamak için */
    cursor: pointer; /* Fare ile üzerine gelince göster */
}

#valueDisplay {
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}



#create-army-div {
    visibility: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
    background-color: rgba(51, 51, 51, 0.5); /* Koyu gri rengi %50 şeffaf yap */
    width: 100%; /* Varsayılan olarak genişliği %100 yap */
}


.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 30px;
    color: white;
    text-align: center;
    padding-top:  10px;
    padding-bottom: 10px;
    z-index: 1000; /* Diğer tüm içeriklerin üzerinde görünmesi için yüksek bir z-index değeri */
}






#slider {
    width: 60%;
}





/* Modal stilini ayarla */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.country-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
}
.country-button:hover {
    background-color: #45a049;
}


#select-country {
    text-align: center;
    margin-top: 50px;
}

#select-country button {
    font-size: 25px;
}

#map {
    background-color: #0000ee;
    width: 100%;
    padding: 50px;
}


rect {
    fill: black;
}





#side-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;

    color: white;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    max-height: 100vh; /* Sidebar ekranı taşmamalı */

    display: block;
    margin: 5px 0;
    background-color: #444;
    border: none;
}




.money-box {
    display: block;
    left: 1px;
    width: 50px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


#declare-war-button {
    background-color: #a32326;
}

#send-peace-request-button {
    background-color: #8ae128;
}




#create-army-button {
    padding: 10px;
    margin-bottom: 100px;
}


.side-bar-buttons {
    display: block;
    padding: 10px;
    margin-top: 40px;
}



#side-area-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    color: white;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    max-height: 100vh; /* Sidebar ekranı taşmamalı */
    display: block;
    margin: 5px 0;
    background-color: #444;
    border: none;
}






/* Mektup simgesinin stili */
.message-icon {
    text-align: right;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 30px;
}

.message-icon:hover {
    background-color: #ddd;

}



@keyframes dashAnimation {
    to {
        stroke-dashoffset: -50; /* Çizginin hareket yönünü kontrol eder */
    }
}

line {
    animation: dashAnimation 1s linear infinite; /* Hareketli çizgi efekti */
    background: #0000ee;
}




